a:hover{
  text-decoration: none;
}
.title h3,h4,p{
  text-align: center;
  color: #363636;
}
.title h3:hover{
  color: #363636;
}
.panel-body h3,h4,p{
  text-align: center;
  color: #363636;
}
.panel-body h3:hover{
  color: #363636;
}
.panel-body{
  border-radius: 2px;
}
ul,ol{
  list-style: none;
}
a{
  color: #363636;
}
a:hover{
  color:#363636;
}
a:visited{
  color: #363636;
}
.list-group,.list-group-item{
  background-color: #FFCC9A;
  color: #FF6766;
}
body{
  background-color: #FFCC9A;
  color: #FF6766;
  opacity: 0.9;
}
nav{
  background-color: #FE6767;
}
.panel-default{
  background-color: #FFCC9A;
}
.navbar li:active{
  background-color: #FFCC9A;
}
.headlist{
  background-color: #FE6767;
  color: #eeeeee;
}
