@media screen and (max-width: 960px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 768px){
  html{
    font-size: 12px;
  }
}
@media screen and (max-width: 550px){
  html{
    font-size: 10px;
  }
}
@media screen and (max-width: 320px){
  html{
    font-size: 8px;
  }
}
